body {
    background-color: rgb(52, 53, 54);
}

#p1 {
    color: tomato;
}

#p2 {
    color: rgb(82, 220, 247);
}

#p3 {
    color: #4fbd4f;
}

#p4 {
    color: rgb(216, 11, 165);
}